@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.fl-bk-pm {
    background-color: #006228;
}

.login-back {
    background-color: #c2c7c3;
}

.fl-signup-card {
    /* margin-right: auto; */
    /* margin-left: auto; */
    width: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.fl-login-card {
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.login-bottom {
    display: contents;
}

.btn-rounded {
    border-radius: 12rem;
}

.fl-btn-pm {
    background-color: #006228;
    color: whitesmoke;
}

.fl-btn-pm:hover {
    background-color: #006228;
    color: whitesmoke;
}

.fl-btn-pm:focus {
    background-color: #00c851;
    color: whitesmoke;
}

.fl-btn-bl {
    background-color: #073785;
}

.remember {
    padding-left: 2rem;
}

.forgot {
    padding-left: 8rem;
}

.forgot-password {
    display: none;
}

.type {
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
}

.agree {
    margin-bottom: 1rem;
}

.left-signup {
    align-content: center;
    float: left;
    padding-left: 2rem;
    margin-right: 2rem;
    /* margin-left: 10%; */
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 20rem;
    font-weight: bolder;
}

.fa-login {
    /* background-color: #207b41; */
    color: #00c851;
}

.minus-margin-bttm {
    margin-bottom: 0;
}

.fl-radio input:checked~.custom-control-input {
    background-color: #00c851;
}


/* signup validation style */

.alert {
    display: none;
}

.requirements {
    list-style-type: none;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}


/* .fl-radio {
    background-color: #00c851;
} */


/* .fl-radio:focus {
    background-color: #1ac458;
} */


/* css for content of pages */


/*

.content {
    margin-left: 10em;
    margin-left: 10em;
    font-family: 'Open Sans', sans-serif;
}

.fl-pm-dk {
    background-color: #207441;
    color: #f3f3f3;
}

.fl-pm-lt {
    background-color: #20c141;
    fill: #20c141;
}

.fl-pm-gr {
    background-color: #def0ef;
}

.fl-sc-dk {
    background-color: #0f0f0f;
}

.fl-sc-lt {
    background-color: #333333;
}

.fl-sc-gr {
    background-color: #f3f3f3;
}

.fl-btn-small {
    background-color: #207441;
    border-radius: 30px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-width: 0em;
    text-decoration: #f3f3f3;
}

.fl-btn-small:hover {
    background-color: #20c141;
}

.fl-btn-small:focus {
    background-color: #20c141;
    border-color: #207441;
    border-width: 0px;
}

.fl-btn-small-dk {
    background-color: #333333;
    border-radius: 30px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-width: 0em;
    text-decoration: #f3f3f3;
}

.fl-btn-small-dk:hover {
    background-color: #0f0f0f;
}

.fl-btn-small-dk:focus {
    background-color: #0f0f0f;
    border-color: #333333;
    border-width: 0px;
}

.fl-nav-items {
    /* float: right; */


/* align-content: flex-end; */

.fl-nav-right-pad {
    padding-right: 15em;
}

.fl-nav-light {
    background-color: #def0ef;
}


/* footer */

.fl-foot-bk1 {
    background-color: #333333;
    padding-top: 1rem;
    color: #f3f3f3;
    padding-left: 2rem;
}

.fl-foot-bk2 {
    background-color: #0f0f0f;
    padding-top: 1rem;
}

.footer-first-col {
    margin-top: 2rem;
}


/* icons

.fa {
    color: #207441;
}

.fa:hover {
    color: #20c141;
}

.fa-dk {
    color: #def0ef;
}

.fa-dk:hover {
    color: #20c141;
}


 ------modal elements ----- 

.fl-modal-login {
    padding-left: 3em;
    padding-right: 3em;
    width: 18rem;
}

.fl-modal-cnt {
    margin-left: auto;
    margin-right: auto;
}

.modal-footer-forgot {
    margin-top: 2rem;
    display: none;
}

.modal-footer {
    padding-bottom: 1.5rem;
}

.modal-header {
    margin-bottom: 1rem;
}

*/

.fl-input-sm {
    border-radius: 2rem;
    width: 18rem;
}

#google-sign {
    margin-top: 2rem;
}


/* ------------------ */

.fl-input {
    position: relative;
    text-align: left;
}


/* style icon */

.fl-input .input-icon {
    position: absolute;
    padding: 10px;
    padding-left: 1em;
    pointer-events: none;
}


/* align icon */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.fl-left input {
    padding-left: 3rem;
}

.fl-right input {
    padding-right: 1rem;
}


/* ----- login styling  */

.fl-login-bk {
    background-color: #def0ef;
    -moz-box-align: center;
}

.user_card {
    width: 350px;
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #333333;
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.login_btn {
    width: 100%;
    color: white;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}


/* styling for profile setup */

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

.profile-card {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: auto;
    width: 60rem;
}

.fap {
    color: #006228;
}


/* 
.skills {
    display: none;
}

.profile-card {
    width: 50rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.skilladd {
    margin-bottom: 0.5rem;
}

.skilladd input[type='radio']:checked {
    background-color: #20c141;
}


/* profile form setup styles  */


/*.eduForm-holder-remove {
    display: none;
}

/* profile image upload*/


/*
#imageUpload {
    display: none;
}
#profileImage {
    cursor: pointer;
}
#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container img {
    width: 150px;
    height: 150px;
}
*/